@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

header{
	font-variant: small-caps;
}

.epub-type-z3998-signature{
	font-variant: small-caps;
	margin-right: 1em;
	text-align: right;
}

/* brass plate */
#chapter-1 blockquote{
	margin: 1em 0em;
	text-align: center;
}
