@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

.epub-type-z3998-signature{
	font-variant: small-caps;
	margin-right: 1em;
	text-align: right;
}

/* brass plate */
#chapter-1 blockquote p{
	text-align: center;
	text-indent: 0;
}
#chapter-1 blockquote p:first-child{
	font-variant: small-caps;
}
