@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

header{
	font-variant: small-caps;
}

footer{
	font-variant: small-caps;
	margin: 1em 1em 0em 0em;
	text-align: right;
}

#chapter-1 blockquote{
	margin: 1em 0em;
	text-align: center;
}

#chapter-16 blockquote p:last-child{
	font-variant: small-caps;
	margin: 0em 1em 0em 0em;
	text-align: right;
}
